@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased font-sans min-h-screen selection:bg-blue-500 selection:text-white;
  }
}

/* Estilos específicos para impressão e geração de PDF */
@media print {
  body * {
    visibility: hidden;
  }
  #printable-os-area, #printable-os-area * {
    visibility: visible;
  }
  #printable-os-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

